<div class='row'>
  <div class='col-xs-1 left-margin'>
  </div>
  <div class='col-xs-10'>
    <div class='well'>
      Please Sign In
    </div>
    <%= render partial: "shared/errors_display", locals: {errors: flash[:errors]} %>
    <%= render partial: "signin_form", locals: {session: flash[:data]} %>
    <p>Not yet a user?  Sign up <%= link_to("here",new_user_path) %>.</p>
  </div>
  <div class='col-xs-1 right-margin'>
  </div>

</div>