<div class='row'>
  <div class='col-xs-1 left-margin'>
  </div>
  <div class='col-xs-10'>
    <div class='well'>
      New Signup
    </div>
    <%= render partial: "shared/errors_display", locals: {errors: flash[:errors]} %>
    <%=render partial: "user_form", locals: {user: @user} %>
  </div>
  <div class='col-xs-1 right-margin'>
  </div>
</div>